@import "litepicker/dist/css/litepicker.css";
@import "../styles/index.css";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans Thai", "Sarabun", system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

.home-date-picker .litepicker {
  top: 26.9rem !important;
}
